.wrapper {
    border: 1px solid #333;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  .pantry {
    width: 800px;
    height: 100px;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inside-stack {
    width: 800px;
    height: 300px;
    overflow: auto;
  }

  .item-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    position: relative;
  }

  .item {
    color: #333;
  }
  
  .input {
    width: 80%; 
    padding: 10px; 
    border: 2px solid #ccc;
    border-radius: 4px; 
    font-size: 16px; 
    transition: border-color 0.3s, box-shadow 0.3s; 
    margin-right: 10px;
  }
  
  .input::placeholder {
    color: #aaa;
    font-style: italic;
  }

  .inputbox {
    display: flex;
  }